* body {
    margin: 0px;
    padding: 0px;
    font-family: "Story Script", sans-serif;
}
#topoContainer {
    width: 980px;
    height: 100px;
    margin: auto;
}
#logo {
    width: 200px;
    height: 100px;
    float: left;
    background-color: lightgreen;
    border-radius: 15px;
}
#logo a {
    text-decoration: none;
    color: green;
    font-size: 30px;
    line-height: 100px;
    margin-left: 20px;
}
#menu {
    width: 780px;
    height: 100px;
    float: right;
    background: mediumaquamarine;
    text-align: center;
    word-spacing: 10px;
    border-radius: 15px;
}
#menu a {
    text-decoration: none;
    color: green;
    font-size: 20px;
    line-height: 100px;
    margin: 0px 15px 0px 15px;
}
#banner {
    width: 700px;
    height: 400px;
    background-color: mediumspringgreen;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
}
#banner a{
    text-decoration: none;
    color: green;
    font-size: 30px;
    line-height: 400px;
    margin-left: 20px;
}
#conteudoSite {
    width: 980px;
    height: 500px;
    margin: auto;
    margin-top: 25px;
}
#esquerda {
    width: 475px;
    height: 500px;
    float: left;
    background-color: lightgreen;
    border-radius: 15px;
}
#esquerda a {
    text-decoration: none;
    color: green;
    font-size: 30px;
    line-height: 500px;
    margin-left: 20px;
}
#direita {
    width: 475px;
    height: 500px;
    float: right;
    background-color: lightblue;
    border-radius: 15px;
}
#direita a {
    text-decoration: none;
    color: green;
    font-size: 30px;
    line-height: 500px;
    margin-left: 20px;
}
#rodape {
    width: 980px;
    height: 50px;
    margin: auto;
    background-color: mediumturquoise;
    margin-top: 15px;
    border-radius: 15px;
}
#rodape a {
    text-decoration: none;
    color: green;
    font-size: 20px;
    line-height: 50px;
    margin-left: 20px;
}