* body {
    margin: 0px;
    padding: 0px;
}
#topoContainer {
    width: 980px;
    height: 100px;
    margin: auto;
    background-color: mediumseagreen;
}
#logo {
    width: 200px;
    height: 100px;
    float: left;
    background-color: black;
}
#menu {
    width: 780px;
    height: 100px;
    float: right;
    background: blueviolet;
}
#banner {
    width: 700px;
    height: 400px;
    background-color: lightcoral;
    margin: auto;
    margin-top: 50px;
}
#conteudoSite {
    width: 980px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: lightgray;
}
#esquerda {
    width: 450px;
    height: 500px;
    float: left;
    background-color: lightgreen;
}
#direita {
    width: 450px;
    height: 500px;
    float: right;
    background-color: lightblue;
}
#rodape {
    width: 980px;
    height: 50px;
    margin: auto;
    background-color: orange;
}